:root {
	--font-color: #000000;
	--bg-color: rgb(243,243,243);
}
[data-theme="dark"] {
	--font-color: #ffffff;
	--bg-color: #000000;
}

body {
	overflow : scroll;
	background : var(--bg-color);
	color : var(--font-color);
}

/* desktop chrome inputs have white background black font.  mobile chrome inputs have clear background black font. */
input {
	background : var(--bg-color);
	color : var(--font-color);
}
